/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* RESET CSS BEGIN */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
/* RESET CSS END */

/* HELPER CLASS */
.left {
	float: left;
}
.right {
	float: right;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.padding-right-50 {
	padding-right: 50px;
}
.padding-left-50 {
	padding-left: 50px;
}

/* GENERAL RULES */
* {
    box-sizing: border-box;     
}
body {
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
	color: #ffffff;
	padding: 120px 0;
	overflow: hidden;
	text-align: center;
}

/* WELCOME SECTION */
#welcome {
	background-color: #87509c;
}
#welcome .container {
	padding: 60px 0;
}
.logo {
	margin-left: 40px;	
}
nav li {
	display: inline-block;
	line-height: 40px;
}
.top-nav a {
	font-size: .89rem;
	padding: 5px 15px;
	text-transform: uppercase;
	border-radius: 4px;
	margin-right: 15px;
	transition: 0.3s;
}
.top-nav a:hover {
	background-color: #643a79;
	transition: 0.3s;
}
h1 {
	font-size: 2.33rem;
	font-weight: 700;
}
.welcome-info {
	margin: 120px;
}
.cta-button {
	display: inline-block;
	width: 294px;
	height: 70px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: #eb7d4b;
	border-radius: 4px;
	border-bottom: 5px solid #c86a40;
	margin-top: 60px;
	line-height: 70px;
	transition: 0.1s;
}
.cta-button:hover {
	margin-top: 63px;
	height: 67px;
	border-bottom: 2px solid #c86a40;
	transition: 0.1s;
}
/* SERVICES SECTION */
#services {
	background-color: #17c2a4;
}
h2 {
	font-size: 2.22rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	margin-bottom: 20px;
}
.short-line {
	width: 90px;
	height: 4px;
	background-color: #14a58c;
	border: none;
	margin: 0 auto;
}
.head-para {
	max-width: 630px;
	letter-spacing: 0.5px;
	line-height: 1.38rem;
	margin: 24px auto;
}
.row {
	overflow: hidden;
	margin-top: 80px;
	padding: 0 10px;
}
.col-4-services {
	width: 25%;
	float: left;
}
.col-4-services img {
	margin-bottom: 30px;
}
h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.33rem;
	margin-top: 30px;
	letter-spacing: 1px;
}
.serv-para {
	font-size: 0.89rem;
	font-weight: 300;
	padding: 0 40px;
	margin-top: 30px;
	letter-spacing: 0.5px;
	line-height: 1.33rem;
}
/* TEAM SECTION */
#team {
	background-color: #e7f1f8;	
}
#team .container {
	color: #3c4761;
}
.team-header .head-para {
	max-width: 660px;
}
.team-header .short-line {
	background-color: #c8d9e5;
}
.col-4-team {
	width: 25%;
	float: left;
}
.round-img {
	display:inline-block;
	width: 200px;
	height: 200px;
	background-color: #878787;
	border-radius: 50%;
	overflow: hidden;
}
h5 {
	color: #48c1e9;
	font-size: 0.89rem;
	margin-top: 10px;
	letter-spacing: 0.5px;
}
.team-para {
	height: 110px;
	font-size: 0.89rem;
	font-weight: 300;
	padding: 0 40px;
	margin-top: 25px;
	letter-spacing: 0.5px;
	line-height: 1.33rem;
}
.social-services {
	margin-top: 20px;
}
.social-services a {
	color: #ffffff;
	width: 33px;
	height: 33px;
	background-color: #bdd1df;
	border-radius: 50%;
	display: inline-block;
	padding-top: 8px;
	margin: 5px;
	transition: 0.3s;
}
.social-services a:hover {
	color: #bdd1df;
	background-color: #ffffff;
	transition: 0.3s;
}
/* SKILLS SECTION */
#skills .container {
	color: #3c4761;
}
.skills-header .short-line {
	background-color: #dfe8ed
}
.col-4-skills {
	width: 25%;
	float: left;
}
/* PORTFOLIO SECTION */
#portfolio {
	background-color: #ffdd99;
}
#portfolio .container {
	color: #393939;
}
.portfolio-header .short-line {
	background-color: #e5c37f;
}
.portfolio-nav a {
	margin: 5px;
	padding: 5px 25px;
	text-transform: uppercase;
	background-color: #ebc985;
	border-radius: 4px;
	transition: 0.3s;
}
.portfolio-nav a:hover {
	background-color: #ffffff;
	transition: 0.3s;
}
#portfolio .row {
	margin-top: 60px;
	padding: 0;
}
.col-4-portfolio {
	width: 50%;
	float: left;
}
.margin-right-10 {
	margin-right: 20px;
}
.proj-dsc {
	text-transform: uppercase;
	margin-top: 30px;
}
.portf-btn {
	color: #ffffff;
	background-color: #17c2a4;
	border-bottom: 5px solid #14a58c;
}
.portf-btn:hover {
	border-bottom-color: #14a58c;
}
/* TESTIMONIALS SECTION */
#testimonials {
	background-color: #d74680;
}
.testimonials-header .short-line {
	background-color: #b73c6d;
}
.col-4-testim {
	width: 50%;
	float: left;
}
.client-photo {
	width: 96px;
	height: 96px;
	border-radius: 50%;
	background-color: #787878;
	float: left;
}
blockquote {
	padding-top: 10px;
	letter-spacing: 0.5px;
	font-size: 1.16rem;
	line-height: 1.7rem;
	font-family: 'Titillium Web', sans-serif;
	font-style: italic;
}
.quote {
	margin-left: 140px;
	text-align: left;
}
h4 {
	margin-top: 5px;
	line-height: 1.33rem;
	color: #ffdd99;
}
/* CONTACT SECTION */
#contact {
	background-color: #3c5499;
}
.contact-header .head-para {
	max-width: 900px;
}
.contact-header .short-line {
	background-color: #273a71;
}
form {
	margin: 0 auto;
	margin-top: 60px;
	max-width: 860px;
	position: relative;
}
input,
textarea {
	font: inherit;
	color: #ffffff;
	width: 415px;
	border: none;
	border-radius: 3px;
	background-color: #273a71;
	padding: 20px 25px;
}
label {
	font: inherit;
	color: #ffffff;
	position: absolute;	
}
label::after {
	content: ' *';
	color: #c54150;
}
.name-label {
	left: 30px;
	top: 25px;
}
.email-label {
	left: 475px;
	top: 25px;
}
textarea {
	font: inherit;
	width: 860px;
	margin-top: 30px;
}
.textarea-label {
	left: 30px;
	top: 117px;
}
input:invalid + label {
	display: inline-block;
}
input:valid + label {
	display: none;
}
textarea:invalid + label {
	display: inline-block;
}
textarea:valid + label {
	display: none;
}
::-webkit-resizer {
  background-image: url("../img/resize-icon.png");
  background-repeat: no-repeat;
}
form button {
	color: #ffffff;
	width: 294px;
	height: 70px;
	font: inherit;
	font-weight: 600;
	text-transform: uppercase;
	background-color: #30bae7;
	border: none;
	border-radius: 3px;
	border-bottom: 5px solid #299ec5;
	margin-top: 60px;
	line-height: 70px;	
	cursor: pointer;
	transition: 0.1s;
}
form button:hover {
	margin-top: 63px;
	height: 67px;
	border-bottom: 2px solid #299ec5;
	transition: 0.1s;
}
/* SOCIAL SECTION */
#social {
	background-color: #344b8e;
}
footer .container {
	max-width: 940px;
	margin: 0 auto;
	padding: 30px;
}
.social-list li {
	font-size: 1.33rem;
	display: inline-block;	
	transition: 0.3s;
}
.margin-right-55 {
	margin-right: 55px;
}
.social-list li:hover {
	color: #30bae7;
	transition: 0.3s;
}